/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button reset */
button {
  border: none;
  background: none;
  cursor: pointer;
}


.container-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 75vw;
    border: rgb(186, 186, 186) solid 1px;
    border-radius: 1rem;
    margin: 1rem auto 0 auto;
}


.container-game .item {
    margin: 0.5rem;
}

.player{
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;

}

.btn-player {
    border: rgb(186, 186, 186) solid 1px;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    transition: all 0.3s ease-in-out;

}

.btn-selected {
    background-color:  rgb(173, 173, 173);
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(173, 173, 173);
    border: black solid 3px;
    transition: all 0.3s ease-in-out;

}

.board{
    width: 100%;
    height: 100%;
    background: rgb(0, 88, 195);
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    justify-content: center;
    align-content: center;;
   
}

.field{
    /* width: 5rem;
    height: 5rem; */
    border: black solid 1px;
}
